# Ignore virtual environments
venv/
venv*/
env/
#data folders
data/
FracAtlas/
# Ignore all zip files
*.zip

# Ignore specific JSON file
Untitled-1.json

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

kaggle_api.py
fracture_segmentation_yolov11.ipynb